aenum
aiohttp
aiosignal
annotated-types
async-timeout
attrs
beautifulsoup4
blinker
Bottleneck 
Brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
Flask
frozenlist
future
gunicorn
idna
itsdangerous
Jinja2
line-bot-sdk
lxml
MarkupSafe
mkl-fft
mkl-random
mkl-service
multidict
numexpr
numpy
packaging
pandas
pycparser
pydantic
pydantic_core
PyMySQL
pyOpenSSL
PySocks
python-dateutil
pytz
requests
six
soupsieve
typing_extensions
tzdata
urllib3
Werkzeug
win-inet-pton
wrapt
yarl
